<div class="background"></div>
<div class="container">
  <img
    class="container__logo"
    src="../assets/images/desktop/logo.svg"
    alt="Pod"
  />
  <div class="wrapper">
    <h1 class="container__title">
      publish your podcast <br /><span class="container__highlight">
        everywhere.</span
        >
      </h1>
      <main class="container__description">
        Upload your audio to Pod with a single click. We’ll then distribute your
        podcast to Spotify, Apple Podcasts, Google Podcasts, Pocket Casts and more!
      </main>
      <app-brands class="container__brands"></app-brands>
      <app-buttons></app-buttons>
    </div>
</div>
