@import '_fonts';
@import '_colors';
@import '_grid';
@import '_layout';

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    @extend .font-body;
    margin: 0;
}

html,
body {
    overflow-x: hidden;
    // overflow-y: hidden;
}

app-root {
    min-height: 100vh;
}


.btn {
    @extend .font-btn;
    display: flex;
    height: 46px;
    border-radius: 28px;
    padding: 9px auto;
    align-items: center;
    border: none;

    &--1 {
        background: $gray-dark;
        color: hsl(0, 0%, 100%, .5);
        justify-content: flex-start;
        padding-left: 32px;
    }

    &--2 {
        background: $green;
        color: $gray-verydark;
        justify-content: center;
    }
}
