@font-face {
    font-family: 'Chivo-Light';
    src: url('../fonts/Chivo-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Chivo-Bold';
    src: url('../fonts/Chivo-Bold.ttf') format('truetype');
}

@mixin font($fontFamily, $fontSize, $lineHeight) {
    font-family: $fontFamily;
    font-size: $fontSize;
    line-height: $lineHeight;
}

.font {

    &-title {
        @include font(Chivo-Light, 24px, 38px);
        // @include font(Chivo-Light, 52px, 62px);
        text-transform: uppercase;
        text-align: center;

        @media screen and (min-device-width: 768px) and (max-device-width: 1023px) {
            @include font(Chivo-Light, 48px, 56px);
            text-align: start;
        }
    }

    &-body {
        @include font(Chivo-Light, 15px, 25px);
        // @include font(Chivo-Light, 18px, 28px);
        text-align: center;

        @media screen and (min-device-width: 768px) and (max-device-width: 1023px) {
            @include font(Chivo-Light, 18px, 28px);
            text-align: start;
        }
    }

    &-btn {
        @include font(Chivo-Bold, 14px, 28px);
    }

}
